{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>About</title>
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css" type="text/css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
  font-size:16px;
  line-height:1.5;
}
.fullcontainer{
  width:100%;
  height:auto;
  font-family: 'Open Sans', sans-serif;
  padding:10% 8%;
}
.fullcontainer h2{
  margin:0;
  padding:0;
  color:#86C232;
  font-size:2.5rem;
  line-height:1.3;
}
.fullcontainer p{
  
}
.loadingpage{
  width:100vw;
  height:100vh;
  background:#161616;
  font-family: 'Open Sans', sans-serif;
  position:fixed;
  z-index:1;
  overflow:hidden;
}
.loadingpage::before{
  content:'';
  width:51%;
  height:100%;
  // background:yellow;
  background:#4a4c45;
  position:absolute;
  z-index:2;
  left:0%;
  top:0%;
}
.loadingpage::after{
  content:'';
  width:51%;
  height:100%;
  // background:blue;
  background:#4a4c45;
  position:absolute;
  z-index:2;
  right:0%;
  top:0%;
}
.loadingpage .counter{
  margin:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:3;
}
.loadingpage h1{
  margin:0;
  padding:0;
  // color:grey;
  color:white;
  font-size:5rem;
  font-weight:bolder;
}
/******** when page is loaded **********/
.pageisloaded{
  visibility:hidden;
  //opacity:0;
  pointer-events:none;
  transform:translateY(-100%);
  transition:transform 0.5s 0.5s ease-out;
}
.pageisloaded::before{
  content:'';
  transform:translateX(-100%);
  transition:all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.pageisloaded::after{
  content:'';
  transform:translateX(100%);
  transition:all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.pageisloaded .counter{
  opacity:0;
  transition:all 0.5s ease-out;
}
@media screen and (max-width:400px){
  .fullcontainer h2{
    line-height:1.2;
    font-size:1.95rem;
  }
  .fullcontainer p{
    font-size:0.91rem;
  }
}

</style>
</head>

<div class="loadingpage">
  <div class="counter">
    <h1>0</h1>
  </div>
</div>

<body>
  <div class="px-0 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item bg-dark"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item text-info bg-dark" style=""> <a class="nav-link active" href="\about">About</a> </li>
            <li class="nav-item bg-dark"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item bg-dark"> <a href="\registration" class="nav-link">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <input type="button" id="change_background" value="Blue" margin />
  <input type="button" id="change_background2" value="White" />
  <div class="py-5 border-0">

    <div class="container">
      

      <div class="row">
      
      
      
        <h1>My Life</h1>

        <button class="accordion">Activities</button>
        <div class="panel">
          <p>I didn't really have much activities on campus besides from meeting my friends and learning, obviously. I usually learn, and then when lunchtime break is on, i meet my friends at a place called "gardu". Then after that i continue to learn as usual.</p>
        </div>

        <button class="accordion">Experience in Organization</button>
        <div class="panel">
          <p>I have little to none experience in terms of organization, and that's probably one thing that i regretted the most. Probably the most organization experience that i have is i joined SBF, its an acronym for Sekolah BEM Fasilkom, basically you became an intern to the Fasilkom's executive body. I joines the Sport section, or in bahasa you call it "Depor" Although it wasn't long, i really have a great time there.</p>
        </div>

        <button class="accordion">Achievements</button>
        <div class="panel">
          <p>I have no achievements in my time at Fasilkom. Hopefully in the near future i can have my own achievements and make me and also Fasilkom proud.</p>
        </div>

        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <h2>About me</h2>
          <p class="mb-3 lead">My name is Muhammad Fathriza Zakeeffa Kusuma. I was born in Jakarta, on the 9th of October 2000. I am the youngest of my 3 brothers. People like to call me "Jija" or "Riza".</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block" src="https://image.ibb.co/dCGrU9/205063_1007591039269_1663_n.jpg" width="350" height="400"data-toggle="tooltip" title="This is a picture of me when i was a little"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-6">
          <p class="lead mb-0">I started my elementary school at Al-Azhar Syifa Budi Kemang. After that, i pursue my Junior Highschool at Labschool Kebayoran, followed by Garuda Cendekia Highschool. Right now i am a student in the Faculty of Computer Science, University of Indonesia.</p>
        </div>
        <div class="p-0 col-lg-5"> <img class="img-fluid d-block" src="https://image.ibb.co/knKZhU/Screen_Shot_2018_09_19_at_11_18_23_PM.png" data-toggle="tooltip" title="This is a picture of me and my family"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <p class="mb-3 lead">I dont have a lot of activity outside being a student. My hobby includes playing computer and Playstation. Sometime i also play football with my friends.</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block float-right" src="https://image.ibb.co/cMLJ99/Screen_Shot_2018_09_19_at_11_26_18_PM.png" data-toggle="tooltip" title="This is a picture of me and my best friends"> </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
  </script> 


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

<script type='text/javascript'
  src='http://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript'>
$(window).load(function(){
    $( "#change_background" ).on( "click", function() {
        $("body").first().css("background-color","LightSkyBlue  ");
    });
});
</script>

<script type='text/javascript'
  src='http://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript'>
$(window).load(function(){
    $( "#change_background2" ).on( "click", function() {
        $("body").first().css("background-color","White");
    });
});
</script>

<script>
  $(document).ready(function() {
  var counter = 0;
  function updateCounter(){
    if(counter == 11){
      clearInterval(foo);
      $('.loadingpage').addClass("pageisloaded");
    }
    else{
      $('.counter h1').html(counter);
      counter++;
    }
  }
  
  var foo = setInterval(updateCounter , 50);
  
});
</script>
</body>

</html>