{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Books</title>
  <meta name="description" content="Riza's Website">
  <meta name="keywords" content="Riza's Website">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>
</head>
<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="\about">About</a> </li>
            <li class="nav-item"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item"> <a href="\registration" class="nav-link">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link active">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <body>
	<div>

	</div>
	<div class="counter-container text-center">
	        <h1><i class ="fa fa-heart"></i> : <span class="counters"> 0 </span> <span><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books.." title="Type in a name" size="100px"></span><span><button id="myButton" class="btn-outline-dark">search</button></span></h1> <!-- <span class="clear"><button id="clears" type="button" class="btn btn-outline-dark"><i class="fa fa-skull-crossbones"></i></span></button></span> -->
	        
	    </div>
	 <br>
	<table class="table table-responsive-sm table-bordered text-center" id="myTable">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">No</th>
	      <th scope="col">Title</th>
	      <th scope="col">Publisher</th>
	      <th scope="col">Published Date</th>
	      <th scope="col">Page</th>
	      <th scope="col">Language</th>
	      <th scope="col">Categories</th>
	      <th scope="col">Authors</th>
	      <th scope="col">Add To Favorite</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src='http://code.jquery.com/jquery-1.11.0.js'></script> 
<script type="text/javascript">
	var search = ""
	$(document).on('click', '#myButton',function(){
		$('tbody').empty();
		search = $('#myInput').val();
		$.ajax({
			type:"GET",
			url:"api/books/"+search,
			dataType : "json",
			success: function(data)
			{
				console.log(data)
				var print = '<tr>';
				for(var i = 1; i <= data.items.length; i++){
					print += '<th scope="row">' + i + '</th> <td>' + data.items[i-1].volumeInfo.title + '</td> <td>';
					print += data.items[i-1].volumeInfo.publisher + '</td> <td>' + data.items[i-1].volumeInfo.publishedDate + '</td> <td>'
					print += data.items[i-1].volumeInfo.pageCount + '</td> <td>' + data.items[i-1].volumeInfo.language + '</td> <td>'
					print += data.items[i-1].volumeInfo.categories + '</td> <td>'

					for(var j=0 ; j<data.items[i-1].volumeInfo.authors.length; j++){
						print += data.items[i-1].volumeInfo.authors[j];
					}
					print += '</td> <td>' + '<button id="buttons" type="button" class="btn btn-outline-white"><i id="fav" class="fa fa-heart"></i></button>' + ' </td> </tr>'
				}
				$("tbody").append(print);
		}});
	})

	$(document).ready(function(){	
			$.ajax({
				type:"GET",
				url:"api/books/quilting",
				dataType : "json",
				success: function(data)
				{
					console.log(data)
					var print = '<tr>';
					for(var i = 1; i <= data.items.length; i++){
						print += '<th scope="row">' + i + '</th> <td>' + data.items[i-1].volumeInfo.title + '</td> <td>';
						print += data.items[i-1].volumeInfo.publisher + '</td> <td>' + data.items[i-1].volumeInfo.publishedDate + '</td> <td>'
						print += data.items[i-1].volumeInfo.pageCount + '</td> <td>' + data.items[i-1].volumeInfo.language + '</td> <td>'
						print += data.items[i-1].volumeInfo.categories + '</td> <td>'

						for(var j=0 ; j<data.items[i-1].volumeInfo.authors.length; j++){
							print += data.items[i-1].volumeInfo.authors[j];
						}
						print += '</td> <td>' + '<button id="buttons" type="button" class="btn btn-outline-white"><i id="fav" class="fa fa-heart"></i></button>' + ' </td> </tr>'
					}
					$("tbody").append(print);
			}});
		}
	);

	var counter = 0;
	$(document).on('click', '#buttons', function() {
	        if( $(this).hasClass('clicked') ) {
	            counter -= 1;
	            $(this).removeClass('clicked');
	            $(this).removeClass('bg-dark');
	        }
	        else {
	            $(this).addClass('clicked');
	            $(this).addClass('bg-dark');
	            counter += 1;
	        }
	        $('.counters').html(counter);

	    });

	function myFunction() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[0];
	    if (td) {
	      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }       
	  }
	}

</script>
</html>