{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Contact</title>
  <meta name="description" content="Riza's Website">
  <meta name="keywords" content="Riza's Website">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>

<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="\about">About</a> </li>
            <li class="nav-item"> <a href="\contact" class="nav-link active">Contact</a> </li>
            <li class="nav-item"> <a href="\registration" class="nav-link">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 filter-dark cover bg-fixed" style="background-image: url('https://preview.ibb.co/chzE3V/planes.jpg');background-position:center bottom;background-size:cover;" id="mission">
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-8 p-3 text-white" style="">
          <h2 class="mb-4">Contact me</h2>
          <p class="lead"><i>Phone +62 812 9618 2013<br>Email rkusumaa@yahoo.com</i>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js"></script>
  
</body>

</html>