{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Registration</title>
  <meta name="description" content="Riza's Website">
  <meta name="keywords" content="Pingendo smke free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>

<body style="background-color: White">
  <div class="p-0 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="\about">About</a> </li>
            <li class="nav-item"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item"> <a href="\registration" class="nav-link active">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js"></script>
  <form class="regisform">
    <div class="form-group">
      <label for="exampleInputName1">Name</label>
      <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Name Here">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputUsername1">Username</label>
      <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputConfirmPassword1">Confirmation Password</label>
      <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirmation Password">
    </div>
    <button type="submit" class="btn btn-primary" onclick="alert('Your data has been saved!')">Submit </button>
  </form>
 
</body>

</html>