{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Schedule</title>
  <meta name="description" content="Riza's Website">
  <meta name="keywords" content="Pingendo smke free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>
<body style="background-color: black">
	<div class="p-0 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="\about">About</a> </li>
            <li class="nav-item"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item"> <a href="\registration" class="nav-link">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link active">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>	
	<h1 style="background-color: Tomato; color:white; padding: 7%; font-size: 300%">Form data</h1><br>
	<div class="py-5">
		<div class ="container my-5">
			<div class ="row">
				<div class= "col-md-1"></div>
				<div class= "col-md-1"></div>
				<div class= "col-md-1"></div>
				<div class="col-md-2"></div>
					
	<form action="/schedule/" method="post" class="text-white" >
		{% csrf_token %}
		{{scheduleForm}}
		<button type="submit" class="btn btn-primary ">Submit</button>
		<a class="btn btn-danger" href= "{% url 'lab_4:delete' %}"> Delete</a>
	</div>
	</form>
	
	 


	{% for post in Posts %}
		<h3 style="color: white; background-color: DodgerBlue;">{{post.judul}}</h3>
		<p style="color: white">{{post.day}}</p>
		<p style="color: white">{{post.time}}</p>
		<p style="color: white">{{post.activity}}</p>
		<p style="color: white">{{post.place}}</p>
		<p style="color: white">{{post.category}}</p>
	{% endfor %}

</body>
</html>