{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Status</title>
  <meta name="description" content="Riza's Website">
  <meta name="keywords" content="Pingendo smke free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="colorful.css"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>
<body style="background-color: black">
	<div class="p-0 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="\about">About</a> </li>
            <li class="nav-item"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item"> <a href="\registration" class="nav-link">Registration</a> </li>
            <li class="nav-item bg-dark"> <a href="\schedule" class="nav-link">Schedule</a> </li>
            <li class="nav-item bg-dark"> <a href="\status" class="nav-link active">Status</a> </li>
            <li class="nav-item bg-dark"> <a href="\books" class="nav-link">Books</a> </li>
            <li class="nav-item bg-dark"> <a href="\subscribe" class="nav-link">Subscribe</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>	
	<h1 style="color: White">Hi! How are you doing?</h1>
	
	  <form action="/status/" method="post" class="text-white" >
		{% csrf_token %}
		{{statusForm}}
		<button type="submit" class="btn btn-primary ">Submit</button>
	  <a class="btn btn-danger" style="color: white" href= "{% url 'lab_4:delete1' %}" > Delete</a>
	  <br>
	  <br>

	  {% for post in Posts %}
		<h3 style="color: white; background-color: DodgerBlue;">{{post.judul}}</h3>
		<p style="color: white">{{post.isiJudul}}</p>
	{% endfor %}

</body>
</html>